<script id="tmpl-ContactsPanel" type="text/html">
	<div class="ContactsPanel panel">
		<div class="ContactsPanel-header panel-header">
			<span class="title">{{:groupName}} Contacts </span>
			<div class="btn btnCreateContact btnRightHeader">Create Contact</div>
			<div class="btn btnBack btnLeftHeader">Back</div>
		</div>
		<div class="ContactsPanel-content panel-content">
			<ul class="contactsList">
			</ul>
		</div>
	</div>  
</script>
<script id="tmpl-ContactsPanel-contactItem" type="text/html">
	<li class="contactItem" data-obj_type="contact" data-obj_id="{{:id}}">
		<span class="text">{{:name}}</span>
		<div class="next">&gt;</div>
		<div class="btn btnDelete">&times;</div>
		<div class="btn btnEdit">Edit</div>
		<div class="btn btnSelectGroup">Select Groups</div>
	</li>
</script>