<script id="tmpl-ContactsPanel" type="text/html">
	<div class="ContactsPanel panel">
		<div class="ContactsPanel-header panel-header">
			<span class="title">{{:groupName}} Contacts </span>
			<div class="btnRightHeader">
				<div class="btn btnEditMode ">Edit</div>
				<div class="btn btnCreateContact"><i class="icon-plus"></i> Create Contact</div>
			</div>
			<div class="btn btnBack btnLeftHeader"><i class="icon-circle-arrow-left"></i> Back</div>
		</div>
		<div class="ContactsPanel-content panel-content">
			<ul class="contactsList">
			</ul>
		</div>
	</div>  
</script>
<script id="tmpl-ContactsPanel-contactItem" type="text/html">
	<li class="contactItem" data-obj_type="contact" data-obj_id="{{:id}}">
		<span class="text"><i class="icon-user"></i>  {{:name}}</span>
		<div class="next"><i class="icon-chevron-right"></i></div>
		<div class="btn btnDelete btn-danger"><i class="icon-remove icon-white"></i></div>
		<div class="btn btnEdit"><i class="icon-pencil"></i></div>
		<div class="btn btnSelectGroup"><i class="icon-list"></i></div>
	</li>
</script>