<script id="tmpl-GroupCreate" type="text/html">
	<div class="GroupCreate modal">
		<div class="GroupCreate-header modal-header">
			<div class="close btnClose">X</div>
			<h3>Create Group</h3>
		</div>
		<div class="GroupCreate-content modal-body">
			<div class="form-horizontal">
				<div class="control-group">
					<div class="control-label">Group name:</div>
					<div class="controls">
						<input type='text' name="groupName" value="{{:name}}" />
					</div>
				</div>
			</div>
		</div>
		<div class="GroupCreate-footer modal-footer">
			<div class="btn btn-primary btnCreate">Create</div>
			<div class="btn btnClose">Close</div>
		</div>
	</div>  
</script>