<script id="tmpl-GroupsPanel" type="text/html">
	<div class="GroupsPanel panel">
		<div class="GroupsPanel-header panel-header">
			<span class="title">Groups</span>
			<div class="btn btnCreateGroup btnRightHeader">Create Group</div>
		</div>
		<div class="GroupsPanel-content panel-content">
			<div class="groupItem" data-obj_type="group" data-obj_id="">
				<span class="text">ALL</span>
			</div>
			<ul class="groupsList">
			</ul>
		</div>
	</div>  
</script>
<script id="tmpl-GroupsPanel-groupItem" type="text/html">
	<li class="groupItem" data-obj_type="group" data-obj_id="{{:id}}">
		<span class="text">{{:name}}</span>
		<div class="next">&gt;</div>
		<div class="btn btnDelete">&times;</div>
		<div class="btn btnEdit">Edit</div>
	</li>
</script>