<script id="tmpl-MainScreen" type="text/html">
	<div class="MainScreen">
		<div class="MainScreen-header">
			<div class="btn btnCreateGroup">Create Group</div>
			<div class="btn btnCreateContact">Create Contact</div>
		</div>
		<div class="MainScreen-content">
			<div class="MainScreen-content-left">
			</div>
			<div class="MainScreen-content-right">
			</div>
		</div>
	</div>  
</script>