.MainScreen{
  position: relative;
  height: 100%;
  overflow:hidden;
}

.MainScreen-content{
  .fitparent;
  top: 30px;
}


.MainScreen-leftPopup{
  .fitparent;
  bottom: 10px;
  top: 30px;
  .spread5;
  background: rgba(50,50,50,.9);
  z-index: 50;
}

.MainScreen-rightPopup{
  .fitparent;
  bottom: 10px;
  top: 30px;
  .spread4;
  .startL9;
  background: rgba(50,70,50,.9);
  z-index: 50;  
}
